---
import { slugifyStr } from "@/utils/slugify";
import type { CollectionEntry } from "astro:content";
import { getProjectPath } from "@/utils/getProjectPath";
import ProjectPeriod from "@/components/ProjectPeriod.astro";
import RedirectIcon from "@/components/RedirectIcon.astro";
import { Image } from "astro:assets";

export interface Props extends CollectionEntry<"projects"> {
  variant?: "h2" | "h3";
}

const { variant = "h2", data, id, filePath } = Astro.props;

const { title, description, coverImage, redirectURL, startDate, endDate, active } = data;

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  class: "text-xl font-medium",
};

---

<div class="group flex items-center gap-6 py-4 border-b border-border last:border-b-0">
  <a href={redirectURL || getProjectPath(id, filePath)} class="flex items-center gap-6 w-full">
    {coverImage && (
      <div class="w-24 h-24 flex-shrink-0 rounded-full overflow-hidden ">
        {typeof coverImage === "string" ? (
          <img 
            src={coverImage} 
            alt={title} 
            class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105 !size-full" 
          />
        ) : (
          <Image 
            src={coverImage} 
            alt={title} 
            class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105 !size-full"
          />
        )}
      </div>
    )}
    <div class="flex-grow">
      <span class="hover:text-accent">
        {
          variant === "h2" ? (
            <h2 {...headerProps}>
              {title}
              {redirectURL && (<RedirectIcon />)}
            </h2>
          ) : (
            <h3 {...headerProps}>
              {title}
              {redirectURL && (<RedirectIcon />)}
            </h3>
          )
        }
      </span>
      <ProjectPeriod {startDate} {endDate} {active}  class="text-foreground" />
      {description && <p class="mt-2 text-base/6 text-muted">{description}</p>}
    </div>
  </a>
</div>
