---
import dayjs from "dayjs";
import { SITE } from "@/config";

export interface Props {
  class?: string;
  size?: "sm" | "lg";
  startDate: string | Date;
  endDate?: string | Date | null;
  active: boolean;
}

const {
  startDate,
  endDate,
  active,
  size = "sm",
  class: className = "",
} = Astro.props;

const startDatetime = dayjs(startDate);
const endDatetime = endDate ? dayjs(endDate) : null;

const startDateFormatted = startDatetime.format("YYYY");
const endDateFormatted = endDatetime ? endDatetime.format("YYYY") : null;

const displayPeriod = active
  ? `${startDateFormatted} - now`
  : endDateFormatted
  ? `${startDateFormatted} - ${endDateFormatted}`
  : startDateFormatted;
---

<div class:list={["flex items-end space-x-2 opacity-80", className]}>
  <span class:list={["text-sm italic", { "sm:text-base": size === "lg" }]}>
    <time datetime={startDatetime.toISOString()}>{displayPeriod}</time>
  </span>
</div>